:root{
    --primary: yellow;
    --secondary: rgb(44, 44, 129);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 0 5px;
}
.header-link{
    color: black;
    margin: 3px 5px;
    font-size: large;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium';
}
.logo{
    width: 100px;
    border-radius: 50%;
}
 
/* landing page */
.landing {
    background-image: url(./assets/omid-armin-f7MjbzHOxNU-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 90vh;
    width: 100vw;
}
.landing .welcome{
    color:antiquewhite;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 25%;
}
.landing .quote{
    color: aliceblue;
    font-size: large;
    font-weight: bold;
    display:flex;
    flex-wrap:wrap;
}
.wrapper .quote{
    line-height: 3,8px;
    animation: slide-up 7s infinite;
}
.start{
    padding: 15px;
    border: 10px;
    margin-top: 15px;
}
/* end landing page */
/* services page */
.skillset{
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: center;
}
.my-form{
    padding: 20px;
}
.form-group{
    padding-bottom: 10px;
}
.form-group input{
    border-radius: 8px;
}
body{
    font-family: serif;
    font-size  :20px;
    line-height: 1,6px;
    margin: 0;
}
footer{
    background-color: #caecdd;
    padding: 20px;
}
footer img{
    border-radius: 10px;
}
.services {
    padding: 20px;
    border: 15px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.service-item{
    padding-top: 69px;
    display: grid;
    justify-items: center;
}

.container a{
    text-align: center;
    padding-top: 25px;
}
/* phones */
@media screen and (max-width: 600px) { 
    body{
        font-size:20px;
    }

    .services {
        display: grid;
        grid-template-columns: 1fr;
        /* justify-items: center;
        justify-content: center; */
    }

}
/*desktop styles*/
@media screen and (min-width:992px){
    .body{
        font-size: 20px;
    }
    .grid{
        width: 100%;
        max-width: 1060px;
        margin: auto;
    }
}
