header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
}
.header-link{
    text-transform: capitalize;
    margin: 3px 5px;
    font-size: large;
    font-family: 'Franklin Gothic Medium';
}
.logo{
    width: 100px;
    border-radius: 50%;
}

.my-form{
    padding: 20px;
}
.form-group{
    padding-bottom: 10px;
}
body{
    font-family: serif;
    font-size  :20px;
    line-height: 1,6px;
    margin: 0;
}
a{
    text-decoration: none;
    color: hsl(66, 96%, 33%);
}
a:hover{
    color: red;
}
a:visited{
    color:rgb(115, 175, 175);
}
footer{
    background-color: #a3d1bc;
    padding: 20px;
}
.box-1{
    padding: 20px;
    border: 15px;
}
:root{
    --primary: yellow;
    --secondary: blue;
}
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background: var(--secondary);
    overflow-x: hidden;
}